body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: hsl(200, 70%, 95%);
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

#messages {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  width: 90%;
  margin: 10px auto;
  overflow-y: scroll;
  background-color: white;
  text-align: left;
}

.message {
  margin: 5px 0;
}

.message .user {
  font-weight: bold;
}

/* Logo on Login Page */
.logo-login {
  width: 500px;       /* adjust size as needed */
  margin-bottom: 300px;
}

/* Logo below Chat Messages */
.logo-footer {
  width: 300px;        /* smaller footer logo */
  margin: 0px auto;
  display: block;
}
